---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout>
	<h1>About Page</h1>

	<p>
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex dignissimos
		earum voluptatum tempore reprehenderit voluptatem incidunt aliquam error
		consequatur! Doloribus maxime adipisci tenetur obcaecati architecto
		consequuntur quod harum, perspiciatis cupiditate.
	</p>
</BaseLayout>
