---
import { getCollection } from "astro:content"
const blogEntries = await getCollection("blog")

import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout>
	<h1>Blog Page</h1>

	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus
		nulla doloribus consequatur velit mollitia ut molestiae asperiores sint.
		Iste deserunt dolore, quia voluptates similique harum expedita pariatur
		eius repudiandae odit.
	</p>

	<section>
		<h2>Blog Entries</h2>

		<ul>
			{
				blogEntries.map((blog) => (
					<li>
						<a href={`/posts/${blog.slug}`}>{blog.data.title}</a>
					</li>
					// <BlogPost url={"/posts/" + post.slug} title={post.data.title} />
				))
			}
		</ul>
	</section>
</BaseLayout>
