---
import { getCollection } from 'astro:content';
import BaseLayout from "../layouts/BaseLayout.astro"

const blogEntries = await getCollection('blog');
---

<BaseLayout>
	<h1>Astro Build a Blog</h1>

	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus
		nulla doloribus consequatur velit mollitia ut molestiae asperiores sint.
		Iste deserunt dolore, quia voluptates similique harum expedita pariatur
		eius repudiandae odit.
	</p>

	<button>Click Me</button>

  <section>
    <h2>Blog Entries</h2>

    <ul>
      {
        blogEntries.map((blog) => (
          <li>
            <a href={`/posts/${blog.slug}`}>{blog.data.title}</a>
          </li>
          // <BlogPost url={"/posts/" + post.slug} title={post.data.title} />
        ))
      }
    </ul>
  </section>

	<script>
		let button = document.querySelector("button")
		if (button) {
			button.addEventListener("click", () => {
				alert("You've clicked me!")
			})
		}
	</script>
</BaseLayout>
