---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout>
	<h1>Astro Build a Blog</h1>

	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus
		nulla doloribus consequatur velit mollitia ut molestiae asperiores sint.
		Iste deserunt dolore, quia voluptates similique harum expedita pariatur
		eius repudiandae odit.
	</p>

	<button>Click Me</button>

	<script>
		let button = document.querySelector("button")
		if (button) {
			button.addEventListener("click", () => {
				alert("You've clicked me!")
			})
		}
	</script>
</BaseLayout>
